html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #fbe6c2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
color stripes 
main: #fbe6c2, #f0c929, #f48b29, #ac0d0d
activity: #d92027 #ff9234 #ffcd3c #35d0ba
water: #7579e7 #9ab3f5 #a3d8f4 #b9fffc
sleep: #151515 #301b3f #3c415c #b4a5a5
*/

nav {
  width: 80%;
  max-width: 728px;
  min-width: 456px;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  justify-self: center;
}

li {
  display: block;
  font-weight: 100;
  letter-spacing: .3em;
}

main {
  max-height: 80%;
  width: 80%;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  column-gap: 2em;
  row-gap: 2em;
}

.user-greeting {
  font-style: italic;
  letter-spacing: -.03em;
  text-shadow: 1px 2px 7px #c7b493;
  font-weight: 400;
}

.data-block {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 15em;
  width: 100%;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.activity-tracker {
  background-color: #d92027;
}

.hydration-station {
  background-color: #7579e7;
}

.sleep-hygiene {
  background-color: #151515;
}