html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #fbe6c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color .2s linear
}

.color-stripes {
  position: fixed;
  z-index: -2;
  width: 150%;
  height: 200px;
  display: flex;
  flex-direction: column;
  transform: rotate(-20deg) translateY(7em);
}

.stripe-one {
  flex-grow: 1;
  background: #f0c929;
}

.stripe-two {
  flex-grow: 1;
  background: #f48b29;
}

.stripe-three {
  flex-grow: 1;
  background: #ac0d0d;
}

/* 
color stripes 
main: #fbe6c2, #f0c929, #f48b29, #ac0d0d
activity: #d92027 #ff9234 #ffcd3c #35d0ba
water: #7579e7 #9ab3f5 #a3d8f4 #b9fffc
sleep: #151515 #301b3f #3c415c #b4a5a5
*/

nav {
  width: 80%;
  max-width: 728px;
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  display: inline;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
}

main {
  margin: 2em 0;
  height: 60%;
  width: 80%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-area: auto;
  grid-gap: .8em;
}

.user-greeting {
  font-style: italic;
  letter-spacing: -.03em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}

.user-greeting>h3 {
  font-style: normal;
  font-weight: 100;
}

.data-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  max-height: 20em;
  max-width: 30em;
  background-color: rgba(194, 202, 193, 0.774);
  color: rgba(0, 0, 0, 0.600);
  border: .1em solid transparent;
}

.data-block:hover {
  border: .1em solid white
}

.data-block>h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  pointer-events: none;
}

.user-card {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2em 1em;
  color: rgba(0, 0, 0, 0.600)
}

.user-card>div {
  align-self: flex-end;
  cursor: pointer;
}

.activity-tracker:hover {
  background-color: #d92026;
  color: white;
}

.hydration-station:hover {
  background-color: #7579e7;
  color: white;
}

.sleep-hygiene:hover {
  background-color: #151515;
  color: white;
}

.chart {
  justify-content: space-around;
  padding: 1em;
  color: white
}

.chart>div {
  justify-self: baseline;
  align-self: flex-end;
  cursor: pointer;
}

.chart>p {
  font-weight: 100;
}

.hidden {
  display: none!important;
}